*{
    margin: --0;
    padding: --0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    
}
:root{
    --text-color:#fff;
    --bg-color:#000000;
    --secondbg-color:#22282f;
    --main-color:#13bbff;
    --other-color:#c3cad5;

    --h1-font:3rem;
    --h2-font:2rem;
    --p-font:1.1rem;
}
body{
    color: var(--other-color);
    background: var(--bg-color);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 11%;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0 14px var(--main-color);
    transition: .5s;

}
.logo{
    color: var(--text-color);
    font-size: var(--h1-font);
    font-weight: 700;
}
.logo span{
    color: var(--main-color);
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--other-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 0 30px;
    
}
.navbar a:hover{
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
  
}
.t-btn{
    display: inline-block;
    padding: 11px 26px;
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 9px;
    font-size: 15px;
    font-weight: 700;
    transition: .5s;
}

.t-btn:hover{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1.1);
}
.home{
     position: relative;
     min-height: 100vh;
     width: 100%;
     padding: 100px 10% 100px;
     display: flex;
     align-items: center;
     justify-content: flex-start;
}
.home-text h3{
     font-size: 1rem;
}
.home-text h1{
    font-size: 3rem;
    font-weight: 800;
    margin: 20px 0 20px;
    line-height: 1.2;
}
span{
    color: var(--main-color);
}

.home-text p{
    font-size: var(--p-font);
    color: var(--other-color);
    width: 500px;
    max-width: 100%;
    line-height: 30px;
}
.social-media{
    margin-bottom: 40px;
    font-size: var(--h2-font);
    color: var(--main-color);
}
 .social-media i{
    color: var(--main-color);
    display: inline-block;  
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 20px transparent;
    transition: .5s;
}
.social-media i:hover{
    transform: scale(1.1);
   
}
.btn{
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 800;
}
.btn:hover{
    background: transparent;
    color: var(--other-color);
    box-shadow: 0 0 20px var(--main-color);
}
.btn2{
    background: transparent;
    color: var(--main-color);
    padding: 11px 26px;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    margin-left: 13px;
    transition: .5s;
    font-size: 18px;
    font-weight: 800;
}
.btn2:hover{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1.1);
}
header.sticky{
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem rgba(0,0,0,0.2);
    padding:16px 13%
}
.about-me{
    background: var(--secondbg-color);
    padding: 50px 10% 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1rem;
}
.about-img img{
  
    width: 100%;
    height: 330px;
    max-width: 330px;
    border-radius: 50%;
    object-fit: cover;
    border: 7px solid var(--main-color);
    box-shadow: 0 0 20px var(--main-color);

}
.about-text h1{
     font-size: var(--h1-font);
     line-height: 1;
}
.about-text p{
    margin-bottom: 50px;
    line-height: 32px;
    font-size: var(--p-font);
    color: var(--text-color);
}
.btn3{
    display: inline-block;
    padding: 11px 26px;
    margin-top: 20px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 800;
}
.btn3:hover{
    background: transparent;
    color: var(--other-color);
    box-shadow: 0 0 20px var(--main-color);
}

.skills{
    background: var(--secondbg-color);
}
.main-text{
    text-align: center;
    font-size: var(--h2-font);
}
.skills-main{
    width: 100%;
    margin-left: 20rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap:30px;
    grid-column-gap:50px;
    
    
}
.skills-bar{
    margin-bottom: 2.3rem;
}
.skills-main h3{
    margin-bottom: 2rem;
    font-size: 1.7rem;
    text-align: center;
}
.skills-center .skills-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: var(--p-font);
    font-weight: 600;
}
.skills-center .skills-bar .bar{
    width: 100%;
    height: 10px;
    background: var(--bg-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}
.skills-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--main-color);
    border-radius: 25px;
    box-shadow:0 0 20px var(--main-color);
}
.skills-bar .bar .html{
    width: 72%;
    animation: html 2s;
}
.skills-bar .bar .css{
    width: 65%;
    animation: css 3s;
}
.skills-bar .bar .js{
    width: 49%;
    animation: js 4s;
}
.skills-bar .bar .mysql{
    width: 58%;
    animation: mysql 5s;
}
.skills-bar .bar .python{
    width: 72%;
    animation: python 5s;
}


@keyframes morph{
    0%,
    100%{
        border-radius: 40% 60% 70% 30%/ 40% 40% 60% 50%;
    }
    30%{
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    60%{
        border-radius: 100% 60% 60% 100%/100% 100% 60% 60%;
    }
    80%{
        border-radius: 69% 31% 66% 34%/ 21% 30% 70% 79%;
    }
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 72%;
    }
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}

@keyframes js{
    0%{
        width: 0%;
    }
    100%{
        width: 49%;
    }
}

@keyframes mysql{
    0%{
        width: 0%;
    }
    100%{
        width: 58%;
    }
}

@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 72%;
    }
}



.portfolio{
    text-align: center;
   
}
.center-text h1{
    font-size: var(--h1-font);
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,auto));
    align-items: center;
    gap: 2.3rem;
    margin: 4.2rem;
}
.row img{
     height: auto;
     width: 100%;
     border-radius: 28px;
     margin-bottom: 1.4rem;
}
.row{
    background: #22282f;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    padding: 20px;
}
.row:hover{
    transform: scale(1.1);
}
.row i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    font:27px;
    border-radius: 50%;
    color: var(--text-color);
    background: #075fe4;

}
.contact{
    background: var(--secondbg-color);
    width: 100%;
}
.contact-text{
    text-align: center;
    font-size: var(--h2-font);
}
.contact form{
    text-align: center;
    max-width: 50rem;
    margin: 1rem auto;
    padding-bottom: 2rem;
}
.contact form input,
.contact form textarea{
    width: 100%;
    color: var(--text-color);
    background: var(--bg-color);
    margin-bottom: .8rem;
    border: none;
    border-radius: 5px;
    padding: .7rem;

}
.contact form textarea{
    resize: none;
}